#myVideo {
  position: fixed;
  right: 0;
  bottom: 20;
  min-width: 100%;
  min-height: 100%;
}

.mycard {
  border-radius: 24px !important;
}

.card {
  padding: 10px;
  /* background-color: rgb(27, 31, 27); */
  color: rgba(255, 255, 255, 0.767);
}

.footer{
  height: 60px;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: rgb(27, 31, 27); */
  color: rgba(255, 255, 255, 0.767);
  opacity: 0.6;
}

.mint-count {
  width: 50%;
}
.mynav{
  opacity: 0.8;
}

/* MINT BUTTON CSS */
.btn-11 {
  border:none;
  background: #7986cb;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #3f51b5;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}
.btn-11:disabled {
  background: grey;
  box-shadow: 0 7px 0px grey;

}
.btn-11:active {
  top: 3px;
  box-shadow: 0 2px 0px #3f51b5;
  transition: all 0.2s;
}
/* PROGRESS BAR */
.progress {
  height: 30px; 
}
.progress-bar{
  color: black;
}